@font-face {
    font-family: "SyntaxUltraBlack";
    src: url("../fonts/syntax-ultra-black.otf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SyntaxUltraBlack";
    font-size: clamp(1.5vh, 14px, 1.5vw);
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url("../img/Edit-CharaKent15FPS-min..gif");
    background-repeat: no-repeat;
    background-size: cover;
}

.filtro{
    background-color: #2000009a;
    display: flex;
    width: 100%;
    height: 100%;
}

.opcoes, .extras{
    width: 20%;
    height: 100%;
    background-image: linear-gradient(yellow, gold, goldenrod, darkgoldenrod, darkorange, orange, orangered);
    border: 20px solid black;
    padding: 10vh 0 10vh 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.extras{
     border-style: double none double solid;
     border-radius: 50% 0 0 50%;
     align-items: flex-end;
 }

 .opcoes{
    border-style: double solid double none;
    border-radius: 0 50% 50% 0;
    align-items: flex-start;
 }

.gameplay{
    width: 60%;
    height: 100%;
}

.gameplay > header{
    height: 10%;
    padding: 0%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: linear-gradient(#ff0000, #960018, #880000, #B22222);
    border: 10px solid black;
    border-top-style: none;
    border-radius: 0 0 50% 50%;
}

.gameplay > header > p{
    margin: 5%;
    font-size: clamp(3vh, 30px, 3vw);;
    color: gold;
    text-shadow: 5px 5px 0 #000, -5px -5px 0 #000, 5px -5px 0 #000, -5px 5px 0 #000, 5px 0px 0 #000, 0px 5px 0 #000, -5px 0px 0 #000, 0px -5px 0 #000;
    
}

.gameplay > main{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


